<settings>
    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersion">
        <settingConfig type="alphaNumeric" readonly="true"/>
    </setting>
    <setting propertyKey="@Properties.calTopoId" title="@Strings.CalTopoId">
        <settingConfig type="alphaNumeric" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.forcePugetSound" title="@Strings.ForcePugetSound">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
</settings>
