<settings>
    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersion">
        <settingConfig type="alphaNumeric" readonly="true"/>
    </setting>
    <setting propertyKey="@Properties.calTopoId" title="@Strings.CalTopoId">
        <settingConfig type="alphaNumeric" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.forcePugetSound" title="@Strings.ForcePugetSound">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.hideTimerView" title="@Strings.HideTimerView">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.hideMarksView" title="@Strings.HideMarksView">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.hideTidesView" title="@Strings.HideTidesView">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
    <setting propertyKey="@Properties.hideWindsView" title="@Strings.HideWindsView">
        <settingConfig type="boolean" readonly="false"/>
    </setting>
</settings>
